@using CodeTest.DTO
@model IEnumerable<PurchaseDTO>
@{
    ViewData["Title"] = "Index";
}
<h1>Purchase History</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                CouponCode
            </th>
            <th>
                CouponName
            </th>
            <th>
                Member Code
            </th>
            <th>
                Receipt Number
            </th>
            <th>
                Used Date
            </th>
           
        </tr>
    </thead>
</table>